<section class="register-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <h2>Register</h2>
        <mat-form-field>
            <input type="username" 
            matInput placeholder="Username"
            formControlName="username"
            name="username">
            <mat-error *ngIf="form.controls.username.hasError('required')">Username is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="email" 
            matInput 
            placeholder="Email"
            formControlName="email"
            name="email">
            <mat-error *ngIf="form.controls.email.hasError('required')">Mail is required</mat-error>
            <mat-error *ngIf="form.controls.email.hasError('email')">Invalid email type</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Birthdate</mat-label>
            <input 
                matInput 
                placeholder="Birthdate"
                [min]="minDate" 
                [max]="maxDate" 
                [matDatepicker]="picker"
                formControlName="birthdate"
                (click)="picker.open()"
                readonly >
            <mat-datepicker-toggle 
                matSuffix 
                [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.controls.birthdate.hasError('required')">Mail is required</mat-error>
          </mat-form-field>
        <mat-form-field hintLabel="Password must be at least 6 characters long">
            <input type="password" 
            matInput 
            placeholder="Password" 
            formControlName="password"
            name="password">
            <mat-hint align="end">{{ form.controls.password.value?.length }} / 6</mat-hint>
            <mat-error *ngIf="form.controls.password.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="form.controls.password.hasError('passwordPattern') && !form.controls.password.hasError('required')">Password must be 8 to 16 characters, at least one uppercase letter, one lowercase letter, one number and one special character</mat-error>
        </mat-form-field>
        <mat-form-field class="mt-4">
            <input type="password" 
            matInput 
            placeholder="Confirm Password" 
            formControlName="passwordConfirm"
            name="passwordConfirm">
            <mat-error *ngIf="form.controls.passwordConfirm.hasError('mustMatch')">Passwords do not match</mat-error>
        </mat-form-field>
        <!-- <button type="submit" mat-raised-button color="primary" [disabled]="registerform.invalid">Submit</button> -->
        <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
</section>