<section class="login-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #loginform="ngForm" (ngSubmit)="login()">
        <h2>Login</h2>
        <mat-form-field>
            <input type="username" 
            matInput 
            placeholder="Your username" 
            [(ngModel)]="model.username"
            name="username"
            required
            #usernameInput="ngModel">
            <mat-error *ngIf="usernameInput.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="!usernameInput.hasError('required')">Invalid email</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Password must be at least 6 characters long">
            <input type="password" 
            matInput 
            placeholder="Your password" 
            [(ngModel)]="model.password" 
            name="password"
            required
            minlength="6"
            #pwinput="ngModel">
            <mat-hint align="end">{{ pwinput.value?.length }} / 6</mat-hint>
            <mat-error>Password has to be at least 6 characters</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="loginform.invalid">Submit</button>
    </form>
</section>